body{
    margin: 5;
    width: 100%;
    background-color: black;
    text-align: left;
    color: aliceblue;
}

a{
    text-align: right;
    color: aliceblue;
    text-decoration: none;
}

.center{
    color: red;
    text-decoration: none;
    text-align: left;
}