<h1>
    <span style="float:left;"><a href="/index.html"{% if page.active == 'center' %} style="color:LemonChiffon;"{% endif %}>Center</a></span>
    <wbr>
    <span style="float:right;"><a href="/writings.html"{% if page.active == 'writings' %} style="color:LemonChiffon;"{% endif %}>Writings</a>
    <a href="/offerings.html"{% if page.active == 'offerings' %} style="color:LemonChiffon;"{% endif %}>Offerings</a> <a href="/power.html"{% if page.active == 'power' %} style="color:LemonChiffon;"{% endif %}>Power</a> </span>
</h1>
